body{
    
    overflow-x: hidden;
    background-color:#252525;
}

.page1{
    position:absolute;
    height:100%;
    width:100%;
}
.logo{
    color:wheat;
    width:15%;
    height: 15%;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    display: flex;
}
.logo-pic{
    width: 10vh;
    height: 10vh;
    float:left;
}
.form-container input{
    border: none;
    color: white;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em;
    border-bottom: 1px solid white;
    background: transparent;
}

.form-container{
    position:relative;
    top: 30vh;
    left: 50vh;
    
    
}
.menu-container {
    position:absolute;
    right: 0;
    top: 0;
}
ul{
    list-style-type: none;
}
.menu-container ul ul {
    list-style-type: none;
    display: none;
  }
.menu-container li:hover ul {
    list-style-type: none;
    display: block;
}

.googleMap{
    position: absolute;
    height: 100%;
    width: 100%;
}
