<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>


  <div id="googleMap" class = "googleMap"></div>

<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(51.508742,-0.120850),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0InFNkcG7UtX5Fd9A5i0vZUpZCDwP6d4&callback=myMap"></script>

      <div class = "data-container">
        <div class = "photo">
            <img src="imm3.jpg" alt="placeholder">
        <ul>
            <li>A</li>
            <li>B</li>
            <li>A</li>
            <li>B</li>
        </ul>
    </div>
</body>
</html>
